#navTopxyz {
  background-image: linear-gradient(to top, #2686fb, #318ffb);
  border-bottom: 1px solid #5ca4fd;
  height: 36px;
  color: white;
  display: flex;
}
#navTop_contentxyz {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  margin: auto;
}
#navTop_contentxyz div {
  cursor: pointer;
}

.navTop_content_subxyz p {
  margin: 0px 3px;
}
#navbarDivxyz {
  background-image: linear-gradient(to top, #0b6ffe, #2585fc);
  height: 90px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navTop_content_subxyz {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 20px 0px 0px;
  font-size: 14px;
}
#logoDivxyz {
  height: 50px;
  width: 190px;
  cursor: pointer;
}
#logoDivxyz img {
  width: 100%;
  height: 100%;
}
#search_Divxyz {
  border: 1px solid rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 48px;
  background-color: white;
  border-radius: 5px;
}
#search_Div_subxyz {
  margin: 0px 10px;
  padding: 0px 10px 0px 0px;
  width: 130px;
  border-right: 1px solid #666666;
  height: 20px;
  color: #666666;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}
#search_Divxyz input {
  width: 450px;
  height: 48px;
  padding: 0px 5px;
  color: #333333;
}
#search_Divxyz input:focus {
  outline: none;
}
#searchIconxyz {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #2988fb;
  cursor: pointer;
}

#shippingMainDivxyz {
  cursor: pointer;
}
#shippingDivxyz {
  display: flex;
  justify-content: space-between;
  width: 90px;
}
#accountDivxyz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 50px;
}
#indianFlagxyz {
  height: 20px;
  width: 22px;
}
#currencyDivxyz {
  display: flex;
}
#signInDivxyz {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 30px;
  cursor: pointer;
}
#signInDivxyz p {
  font-size: 20px;
}
#cartDivxyz {
  font-size: 33px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#cartCounterxyz {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  left: -12px;
  top: -10px;
  background-color: rgb(248, 7, 7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
#NavbarBottomxyz {
  background-color: #2988fb;
  background-image: linear-gradient(to top, #0066ff, #0a6ffe);
  position: relative;
  z-index: 10;
}
#NavbarBottomContentxyz {
  height: 56px;
  width: 1600px;
  color: white;
  display: flex;
  margin: auto;
  font-weight: 600;
  font-size: 20px;
}
#NavbarBottomCategoriesxyz {
  background-image: linear-gradient(to top, #1371ff, #207dff);
  display: flex;
  width: 120px;
  background-color: #3b90f9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  left: 0px;
}
.NavbarBottomSubxyz {
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -0px;
  cursor: pointer;
}
#NavbarBottomDrop1xyz {
  border: 1px solid rgb(235, 235, 235);
  background-color: white;
  height: 400px;
  width: 226px;
  position: relative;
  top: 225px;
  left: -110px;
  margin-right: -226px;
  cursor: pointer;
}
#NavbarBottomDrop1xyz ul {
  list-style-type: none;
  color: #46474a;
  font-size: 18px;
}

#NavbarBottomDrop2xyz {
  box-sizing: content-box;
  border: 1px solid rgb(224, 224, 224);
  border-left: 1px solid transparent;
  background-color: white;
  height: 435px;
  position: relative;
  left: 225px;
  top: -433px;
  color: #333333;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: medium;
}
#NavbarBottomDrop1xyz li {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  font-weight: 400;
  font-size: medium;
}
#NavbarBottomDrop1xyz li:hover {
  border-left: 3px solid #3b90f9;
  background-color: #f1f6fd;
}

.class00 {
  width: 600px;
}
.class01 {
  width: 500px;
}
.class02 {
  width: 800px;
}
.class1 {
  width: 1000px;
}
.class2 {
  width: 1200px;
}
.class3 {
  width: 1400px;
}
.NavbarBottomDropItemsxyz {
  margin: 0px 0px 0px 0px;
  box-sizing: content-box;
  max-height: 435px;
  width: 200px;
}
#NavbarBottomDrop2xyz dl {
  margin: 0px 10px 12px 10px;
  width: 200px;
  display: inline-block;
}
dtxyz {
  font-size: 15px;
  cursor: pointer;
}
ddxyz {
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}
.imgDivxyz {
  margin: 85px 0px 0px -60px;
  height: 405px;
  width: 400px;
}

#shippingPopDivxyz {
  position: absolute;
  z-index: 20;
  top: 118px;
  left: 1160px;
  border: 1px solid rgb(224, 224, 224);
  height: 225px;
  width: 351px;
  border-radius: 8px;
  color: #333333;
  background-color: white;
  padding: 0px 20px;
}
#pointerxyz {
  border: 10px solid transparent;
  height: 20px;
  width: 20px;
  position: relative;
  left: 86%;
  top: -11.4%;
  border-bottom: 15px solid white;
}
#shippingPopDivxyz li {
  list-style-type: none;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-radius: 3px;
  cursor: pointer;
}
#shippingPopDivxyz li > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4px 20px;
  height: 30px;
}
#shippingPopDivxyz li > div > img {
  height: 100%;
}
#shippingPopDivxyz h4 {
  font-size: 92%;
  padding: 0px;
  margin: 0px;
}
#shippingPopDivxyz h3 {
  font-size: 93%;
  padding: 0px;
  margin: 0px;
  font-weight: 500;
}
#shippingPopDivxyz button {
  height: 30px;
  width: 68px;
  border-radius: 3px;
  background-color: #0066ff;
  color: white;
  position: relative;
  left: 78%;
  margin: 10px 0px;
}
/**********SHIPPING POP********/

/*********SIGN IN POP**************/
#signInPopxyz {
  border: 1px solid rgb(228, 228, 228);
  height: 180px;
  width: 290px;
  border-radius: 8px;
  background-color: white;
  color: #333333;
  position: absolute;
  z-index: 20;
  top: 112px;
  padding: 10px 20px;
}
#signPointerxyz {
  height: 30px;
  width: 30px;
  border: 15px solid transparent;
  border-bottom: 15px solid white;
  position: relative;
  left: 112px;
  top: -30px;
}
#welcomeGreetxyz {
  font-size: 18px;
  text-align: center;
  position: relative;
  top: -30px;
  padding: 0px;
  height: 25px;
}
#buttonDivSignInPopxyz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 254px;
  position: relative;
  top: -18px;
}
#joinBtnxyz {
  height: 36px;
  width: 120px;
  border-radius: 4px;
  background-color: #0066ff;
  color: white;
  font-size: 15px;
}
#signInBtnxyz {
  height: 36px;
  width: 120px;
  border-radius: 4px;
  color: #0066ff;
  background-color: #e5efff;
  font-size: 15px;
  border: 1px solid #0066ff;
}
#topDivxyz {
  position: relative;
  top: -18px;
  height: 16px;
  width: 254px;
  border-bottom: 1px solid #e6e7e8;
}
#orDivxyz {
  background-color: white;
  width: 30px;
  height: 18px;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
  left: 111px;
  color: #999999;
}
#googleAuthDivxyz {
  height: 50px;
  width: 50px;
  border: 1px solid #dcdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto;
  position: relative;
  top: -16px;
}
#cartPopDivxyz {
  border: 1px solid rgb(214, 214, 214);
  max-height: 450px;
  width: 360px;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  z-index: 20;
  top: 116px;
  left: 1420px;
  padding: 20px;
}
#cartPointerxyz {
  height: 30px;
  width: 30px;
  border: 15px solid transparent;
  border-bottom: 15px solid white;
  position: relative;
  top: -50px;
  left: 246px;
}

#cartTotalxyz {
  height: 36px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cartPopButtonxyz {
  height: 40px;
  width: 320px;
  background-color: #0066ff;
  color: white;
  border-radius: 4px;
  font-size: 16px;
}
#cartItemsxyz {
  max-height: 304px;
  height: 304px;
  width: 320px;
  border-bottom: 1px solid rgb(217, 217, 217);
}
